table {
    margin-top:15px;
    margin-left:30px;
    font-size:12px;
    border-top:1px solid #999;
    border-left:1px solid #999;
    padding:0px;
}


table tr td {
    padding:6px;
    padding-right:0px;
    border-right:1px solid #999;
    border-bottom:1px solid #999;

}

table thead td{
    background:#336d9b;
    color:#fff;
    margin:0px;
}    
.oddClm {
    background-color: #5FC6DA;
}
#file_wrap {
    display:block;
    width:500px;
    height:200px;
}